DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://127.0.0.1:8000/auth/discord/callback
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=

ADMIN_ROLE_IDS=1131128849443328030,1482084782031638548
WORKER_ROLE_IDS=1503701170504339458
COMPANION_ROLE_IDS=1503706721883783218

DATABASE_URL=sqlite:///D:/DC bot/web_dashboard.db
WEB_SECRET_KEY=change-this-secret
